.fileUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.fileInput {
  display: none;
}

.fileInput:hover {
  background-color: #ccc;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.uploadButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.uploadButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.uploadButton:hover {
  background-color: #ccc;
}
